<tr id="document_<%= document.id %>">

  <td>
    <label for="batch_document_<%= document.id %>" class="sr-only"><%= t("hyrax.dashboard.my.sr.batch_checkbox") %></label>
    <%= render 'morphosource/batch_select/add_button', item: item %>&nbsp;
  </td>

  <td>
    <div class='media'>
      <%= link_to [main_app, document], class: 'media-left', 'aria-hidden' => true do %>
        <%= render_thumbnail_tag document, { class: 'hidden-xs file_listing_thumbnail' }, { suppress_link: true } %>
      <% end %>

      <div class='media-body'>
        <div class='media-heading'>

          <%= link_to [main_app, document], id: "src_copy_link#{document.id}", class: 'document-title' do %>
            <span class="sr-only">
              <%= t("hyrax.dashboard.my.sr.show_label") %>
            </span>
            <%= document.title_or_label %>
          <% end %>

          <br />
          <%= render_collection_links(document) %>

        </div>
      </div>
    </div>
  </td>
  <td><%= render_visibility_link document %></td>
  <td>
    <div style="display:flex; flex-direction: column; justify-content: space-around; align-items: flex-start;">
      <% unless document.file_set_visibilities.nil? %>
        <% document.file_set_visibilities.each do |visibility| %>
          <%= render_visibility_link document %>
          <div style="height: 3px;"></div>
        <% end %>
      <% end %>
    </div>
  </td>

  <% if @cart %>
    <!-- Date Cart Item was created -->
    <td class="date"><%= item.created_at.strftime("%Y-%m-%d") %></td>
  <% else %>
    <!-- Date Cart Item was downloaded -->
    <td class="date"><%= item.date_downloaded.strftime("%Y-%m-%d") %></td>
  <% end %>
</tr>
