<table class="table table-striped works-list">
  <caption class="sr-only"><%= t("hyrax.dashboard.my.sr.listing") %> <%= application_name %></caption>
  <thead>
  <tr>
    <th class="check-all"><label for="check_all" class="sr-only"><%= t("hyrax.dashboard.my.sr.check_all_label") %></label><%= render_check_all %></th>
    <th><%= t("hyrax.dashboard.my.heading.title") %></th>
    <th>Request Status</th>
    <th>Requester</th>
    <th>Affiliation</th>
    <th>Requested</th>
    <th>Approved</th>
    <th>Denied</th>
    <th>Canceled</th>
    <th>Expiration</th>
    <th>Cleared</th>
    <th>Approve</th>
    <th>Clear</th>
    <th>Deny</th>
  </tr>
  </thead>
  <tbody>
    <% @items.each_with_index do |item, counter| %>
      <% document = @solr_docs.select{|doc| doc.id == item.work_id}[0] %>
      <%= render 'morphosource/my/request_manager/list_works', document: document, counter: counter, item: item, presenter: Hyrax::WorkShowPresenter.new(document, current_ability) %>
    <% end %>
  </tbody>
</table>
