<tr id="document_<%= document.id %>">
    <td>
      <label for="batch_document_<%= document.id %>" class="sr-only"><%= t("hyrax.dashboard.my.sr.batch_checkbox") %></label>
      <%= render 'morphosource/batch_select/add_button', item: item %>&nbsp;
    </td>
  <td>
    <div class='media'>
      <%= link_to [main_app, document], class: 'media-left', 'aria-hidden' => true do %>
        <%= render_thumbnail_tag document, { class: 'hidden-xs file_listing_thumbnail' }, { suppress_link: true } %>
      <% end %>
      <div class='media-body'>
        <div class='media-heading'>
          <%= link_to [main_app, document], id: "src_copy_link#{document.id}", class: 'document-title' do %>
            <span class="sr-only">
              <%= t("hyrax.dashboard.my.sr.show_label") %>
            </span>
            <%= document.title_or_label %>
          <% end %>
          <br/>
        </div>
      </div>
    </div>
  </td>
  <% if @tab == 'previous' %>
    <td><%= item_status_label(item) %></td>
  <% end %>
  <% if @tab == 'new' %>
    <td><%= date(item,'requested') %></td>
    <td><button class='btn btn-success' data-toggle="modal" data-target="#pageModal" data-item-id= <%= item.id %>>Approve Download</button></td>
    <td><%= link_to "Clear Request", main_app.clear_request_path(:item_id => item.id), class: 'btn btn-info', :method => :put %></td>
    <td><%= link_to "Deny Download", main_app.deny_download_path(:item_id => item.id), class: 'btn btn-danger', :method => :put %></td>
  <% end %>
  <% if @tab == 'previous' %>
    <td><%= date(item,'requested') %></td>
    <td><%= date(item,'approved') %></td>
    <td><%= date(item,'denied') %></td>
    <td><%= date(item,'canceled') %></td>
    <td><%= date(item,'expired') %></td>
    <td><%= date(item,'cleared') %></td>
    <td><%= date(item,'downloaded') %></td>
    <% if ( item.expired? || item.approved? ) %>
      <td><button class='btn btn-primary' data-toggle="modal" data-target="#pageModal" data-item-id= <%= item.id %>>Edit Expiration</button></td>
    <% else %>
      <td></td>
    <% end %>
  <% end %>
</tr>
