<% processing_activity_types_service = Morphosource::ProcessingActivityTypesService.new %>

<%= f.input :processing_activity, as: :multi_value %>

<div id="processing_event_processing_activity_wrapper" class="form-group multi_value optional managed" style="margin-right:7em;">

  <label class="control-label multi_value optional" for="processing_event_processing_activity">processing_activity</label>

  <ul class="listing" aria-live="polite" style=" border:solid 1px lightgray; border-radius: 5px;">
    <div id="processing_activity_labels" style="display:flex; flex-direction:row; justify-content:space-evenly; margin-top:.5em;">
      <div style="width:10%;margin-left:8px"><label for="processing_event_processing_activity_step">Step</label></div>
      <div style="width:23%;margin-left:8px"><label for="processing_event_processing_activity_type">Type</label></div>
      <div style="width:33%;margin-left:8px"><label for="processing_event_processing_activity_software">Software</label></div>
      <div style="width:33%;margin-left:8px"><label for="processing_event_processing_activity_type">Description</label></div>
    </div>
    <li class="field-wrapper input-group input-append" style="display:flex; flex-direction:row; justify-content:space-evenly;">
      <input class="string multi_value optional form-control processing_event_processing_activity_step form-control multi-text-field" name="processing_event[processing_activity_step][]" value="" id="processing_event_processing_activity_step" type="text" style="margin:5px; width:10%; border-radius:5px;">

      <select class="form-control select optional form-control" name="processing_event[processing_activity_type][]" id="processing_event_processing_activity_type" style="margin:5px; width:23%;">
        <% processing_activity_types_service.select_all_options.each do |processing_activity_type_option| %>
          <option value="<%= processing_activity_type_option[0] %>" ><%= processing_activity_type_option[1] %></option>
        <% end %>
      </select>

      <input class="string multi_value optional form-control processing_event_processing_activity_software form-control multi-text-field" name="processing_event[processing_activity_software][]" value="" id="processing_event_processing_activity_software" type="text" style="margin:5px; width:33%; border-radius:5px;">
      <input class="string multi_value optional form-control processing_event_processing_activity_description form-control multi-text-field" name="processing_event[processing_activity_description][]" value="" id="processing_event_processing_activity_description" type="text" style="margin:5px; width:33%; border-radius:5px;">
    </li>
  </ul>
</div>

<script>
var appendProcessingActivityTypeSelect = function(appendToElement) {
  $('<select />', {
    id : "processing_event_processing_activity_type_"+i,
    name : 'processing_event[processing_activity_type][]',
    class : "form-control select optional form-control",
    style : "margin:5px; width:33%; border-radius:5px;",
    append : [
      $('<option />', {value : "", text : ""}),
      <% processing_activity_types_service.select_all_options.each do |processing_activity_type_option| %>
        $('<option />', {value : "<%= processing_activity_type_option[0] %>", text : "<%= processing_activity_type_option[1] %>"}),
      <% end %>
      $('<option />', {value : "", text : ""})
    ]
  }).appendTo(appendToElement);
}
</script>