<% # app/views/records/edit_fields/_processing_activity.html.erb %>
<% if @curation_concern.nil? && (!@processing_event_form.nil?) && (!@processing_event_form.model.nil?) %>
  <% model = @processing_event_form.model %>
<% elsif !@curation_concern.nil? %>
  <% model = @curation_concern %>
<% end %>
<% processing_activity_types_service = Morphosource::ProcessingActivityTypesService.new %>
<div id="processing_activities_wrapper" class="form-group multi_value optional processing_event_processing_activities" style="display:flex; flex-direction:column;">
<label class="control-label multi_value optional" for="processing_event_processing_activity">Processing Activity</label>
<ul class="listing">
<% model.processing_activity_type.map.with_index{|item,index| [item, model.processing_activity_software[index], model.processing_activity_description[index]] }.push([nil,nil,nil]).each do |processing_activity| %>
<li class="field-wrapper">
<%- # f.input :processing_activity_type, as: :select, collection: processing_activity_types_service.select_all_options, include_blank: true, item_helper: processing_activity_types_service.method(:include_current_value), input_html: { class: 'form-control' } -%>
<div class="form-group select optional processing_event_processing_activity_type"><label class="control-label select optional" for="processing_event_processing_activity_type">Processing activity type</label><select autocomplete="off" class="form-control select optional form-control" name="processing_event[processing_activity_type][]" id="processing_event_processing_activity_type"><option value=""></option>
    <% processing_activity_types_service.select_all_options.each do |processing_activity_type_option| %>
      <option value="<%= processing_activity_type_option[0] %>" <%= (processing_activity_type_option[0] == processing_activity[0]) ? 'selected="selected"' : '' %>><%= processing_activity_type_option[1] %></option>
    <% end %>
</select></div>
<%- # f.input :processing_activity_software, as: :string, wrapper_html: { class: '' } -%>
<div class="form-group string optional processing_event_processing_activity_software"><label class="control-label string optional" for="processing_event_processing_activity_software">Processing activity software</label><input class="form-control string optional" type="text" value="<%= processing_activity[1].to_s %>" name="processing_event[processing_activity_software][]" id="processing_event_processing_activity_software" /></div>
<%- # f.input :processing_activity_description, as: :text, input_html: { rows: '4' } -%>
<div class="form-group text optional processing_event_processing_activity_description"><label class="control-label text optional" for="processing_event_processing_activity_description">Processing activity description</label><textarea class="form-control text optional" rows="4" name="processing_event[processing_activity_description][]" id="processing_event_processing_activity_description"><%= processing_activity[2].to_s %></textarea></div>
</li>
<br/>
<% end %>
</ul>
</div>