<h3>Institution</h3>

<div id="select_institution">
  <%= simple_form_for @submission do |f| %>
    <%= f.submit 'Back to previous step', name: 'previous_button' unless @submission.first_step? %>
    <%= f.submit 'Start over', name: 'start_over' unless @submission.first_step? %>
    <%# TODO: Currently retrieves the institutions twice; once in the line below and again in the 'input' field %>
    <div>
      <%= f.submit 'Institution not applicable', name: 'no_institution', class: 'btn btn-info', role: 'button' %>
    </div>
    <% if institutions.present? %>
      <h5>Select an existing institution</h5>
      <div class="form-group">
        <div class="form-inline">
          <%# TODO: Width set to an arbitrary pixel value for now.  This is probably not appropriate for accessibility. %>
          <%= f.input :institution_id, collection: institution_selector, prompt: 'Select institution',
                      input_html: {style: 'width: 400px'}, label: false %>
        </div>
        <div>
          <%= f.submit 'Continue with selected institution', name: 'select_institution', class: 'btn btn-info', role: 'button' %>
          <a href="#" id="show_create_institution" class="btn btn-info">Create New Institution</a>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div id="create_institution" class="hidden">
  <h5>Create a new institution</h5>

  <%= simple_form_for @institution_form, url: create_institution_submissions_url do |f| %>
    <div class="form-group">
      <%= render partial: 'work_creation_metadata', locals: {f: f} %>
      <div>
        <%= f.submit 'Create New Instititution', class: "btn btn-primary" %>
        <a href="#" id="show_select_institution" class="btn btn-info">Select Existing Institution</a>
      </div>
    </div>
  <% end %>
</div>
