<div id="submission_create_media">
  <%= simple_form_for @media_form, url: stage_media_submissions_url do |f| %>
    <div class="form-group">
      <%= render partial: 'work_creation_metadata', locals: { f: f } %>
      <%= render partial: 'hyrax/base/form_files', locals: { f: f } %>
      <aside id="form-progress" class="form-progress panel panel-default">
        <div class="list-group">
          <div class="set-access-controls list-group-item">
            <%= render partial: 'hyrax/base/form_visibility_component', locals: { f: f } %>
          </div>
        </div>
      </aside>
      <div>
        <%= f.submit 'Submit Media', class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
