<div id="submission_choose_raw_or_derived_media">
  <%= f.input :raw_or_derived_media, as: :hidden %>
	<p><%= t('morphosource.submission.initial_information') %></p>

	<div class="checkbox_group">
		<div>
			<input id="cb_derived" name="cb_derived" type="checkbox">
		  <label><%= t('simple_form.labels.submission.cb_derived') %></label>
		</div>
		<div>
		  <input id="cb_child_media_in_ms" name="cb_child_media_in_ms" type="checkbox">
		  <label><%= t('simple_form.labels.submission.cb_child_media_in_ms') %></label>
		</div>
	</div>

  <a href="#" id="submission_choose_raw_or_derived_media_continue" class="btn btn-primary"><%= t('morphosource.submission.continue') %></a>
</div>
