<% provide :page_title, t('morphosource.submission.page_title') %>
<% provide :page_header do %>
  <h1><%= t('morphosource.submission.page_header') %></h1>
<% end %>

<div class="submission_flow" id="submission_new">
  <%= simple_form_for @submission do |f| %>
    <%= render(partial: 'raw_derived_media', locals: { f: f }) %>
    <%= render(partial: 'physical_object', locals: { f: f }) %>
    <%= render(partial: 'biospec_search', locals: {f: f }) %>
    <% # Derived media flow %>
    <%= render(partial: 'immediate_parents', locals: { f: f }) %>
    <%= render(partial: 'parent_details', locals: { f: f }) %>
  <% end %>
</div>

