<% provide :page_title, t('morphosource.submission.page_title') %>
<% provide :page_header do %>
  <h1><%= t('morphosource.submission.page_header') %></h1>
<% end %>

<%= simple_form_for @submission do |f| %>

  <%= f.submit 'Back to previous step', name: 'previous_button' unless @submission.first_step? %>
  <%= f.submit 'Start over', name: 'start_over' unless @submission.first_step? %>

  <%= render "#{@submission.current_step}_step", f: f %>

<% end %>
