<%= render 'work_title', presenter: @presenter %>

<%= render @presenter.general_details_partial, presenter: @presenter %>

<%= render @presenter.taxonomy_partial, presenter: @presenter %>

<%= render @presenter.identifiers_and_external_links_partial, presenter: @presenter %>

<%= render @presenter.time_and_place_details_partial, presenter: @presenter %>

<%= render @presenter.bibliographic_citations_partial, presenter: @presenter %>

<%= render @presenter.media_partial, presenter: @presenter %>

<%= render @presenter.collections_partial, presenter: @presenter %>

<%= render @presenter.tags_partial, presenter: @presenter %>

<%= render @presenter.citation_and_download_partial, presenter: @presenter %>


<div class="row work-type">
  <div class="col-sm-12">
  	work type
    <%= render 'work_type', presenter: @presenter %>
  </div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    work title <%= render 'work_title', presenter: @presenter %>
    show_action <%= render 'show_actions', presenter: @presenter %>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
        	workflow_actions_widget
          <%= render 'workflow_actions_widget', presenter: @presenter %>

          <div class="col-sm-3 text-center">
            <%= render 'representative_media', presenter: @presenter, viewer: false unless @presenter.iiif_viewer? %>
          </div>
          <div class="col-sm-9">
            work_description<%= render 'work_description', presenter: @presenter %>
            metadata<%= render 'metadata', presenter: @presenter %>
          </div>
        </div>
      </div>
    </div><!-- /panel -->

    <div class="panel panel-default">
      <div class="panel-body">
        relationships<%= render 'relationships', presenter: @presenter %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('.items') %></h3>
      </div>
      <div class="panel-body">
        items<%= render 'items', presenter: @presenter %>
      </div>
    </div>

  </div>
</div>