
<div style="color:blue">

<h3> cho IDENTIFIERS AND EXTERNAL LINKS </h3>




<%= presenter.attribute_to_html(:occurrence_id, label: 'Occurrence ID', html_dl: true) %>
<%= presenter.attribute_to_html(:collection_code, label: 'Collection Code', html_dl: true) %>
<%= presenter.attribute_to_html(:catalog_number, html_dl: true) %>

<%= presenter.attribute_to_html(:idigbio_recordset_id, html_dl: true) %>
<%= presenter.attribute_to_html(:idigbio_uuid, html_dl: true) %>

<div>institution code: <%= presenter.parent_institution_code %> </div>

IDENTIFIERS AND EXTERNAL LINKS

Institution Code



e3u47-a9ex0-2wq3e-dx5f4
AMNH
M

12345
External Object URL
http://amnhweb/specimen/madeupval...
e3u47-a9ex0-2wq3e-dx5f4

e3u47-a9ex0-2wq3e-dx5f4


</div>
<hr>