<h2>CULTURAL HERITAGE OBJECT TAXONOMY </h2>

<div class="panel-group" id="taxonomy-accordion-group">

  <div class="panel">
		<%= collapse_accordion_panel("collapse-taxonomy-1", "taxonomy-accordion-group", "Institutional", "Procolobus badius", false) %>
		<div id="collapse-taxonomy-1" class="panel-collapse collapse in collapse-accordion">
		<%= presenter.attribute_to_html(:identifier, render_as: :showcase_default, include_empty: true, html_dl: false) %>
		<%= presenter.attribute_to_html(:identifier, render_as: :showcase_default, include_empty: true, html_dl: false) %>
		<%= presenter.attribute_to_html(:identifier, render_as: :showcase_default, include_empty: true, html_dl: false) %>
		</div>
	</div>

  <div class="panel">
		<%= collapse_accordion_panel("collapse-taxonomy-2", "taxonomy-accordion-group", "MorphoSource inferred", "Procolobus badius badius", true) %>
		<div id="collapse-taxonomy-2" class="panel-collapse collapse collapse-accordion">
		<%= presenter.attribute_to_html(:catalog_number, render_as: :showcase_default, include_empty: true, html_dl: false) %>
		<%= presenter.attribute_to_html(:catalog_number, render_as: :showcase_default, include_empty: true, html_dl: false) %>
		<%= presenter.attribute_to_html(:catalog_number, render_as: :showcase_default, include_empty: true, html_dl: false) %>
		</div>
	</div>

</div>
