<% provide :page_title, "My Requests" %>

<nav class="breadcrumb" role="region" aria-label="Breadcrumb">
  <ol>
    <li><a href="/?locale=en">Home</a></li>
    <li><a href="/dashboard?locale=en">Dashboard</a></li>
    <li class="active">Requests</li>
  </ol>
</nav>

<div class="row">
  <div class="col-xs-12 main-header">
    <h1>
      <span class="fa fa-tasks" aria-hidden="true"></span>
      Requests ( <%= @item_count %> )
    </h1>
  </div>
</div>

<div class="panel-body">
  <h2 class="sr-only">Works listing</h2>
  <%= render 'morphosource/my/requests/batch_actions' %>
  <%= render 'morphosource/my/requests/document_list' %>
  <%= render 'morphosource/my/requests/results_pagination' %>
</div>

<%= render 'morphosource/my/modals/page_modal' %>

<script>
  <%= render partial: 'morphosource/my/scripts/scripts', formats: [:js] %>
  <%= render partial: 'morphosource/my/requests_scripts', formats: [:js] %>
  <%= render partial: 'morphosource/my/scripts/modal_scripts' %>
</script>
